
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="container-fluid page__container">
<div class="card">
    <div class="card-header card-header-large bg-white">
        <h4 class="card-header__title">Doughnut</h4>
    </div>
    <div class="card-body">
        <p>Buraya chart gelecek bu kısımda her kategoriden kaç tane kurs olduğunu bulacağız.</p>

        <div class="chart">
            <canvas id="devicesChart" class="chart-canvas"></canvas>
        </div>
    </div>
</div>
</div>


