<div class="weekly-top-items carousel-shadow default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="top-courses">
                    <div class="heading">
                        <h4>Top Courses - <strong>Weekly</strong></h4>
                    </div>
                    <div class="top-course-items top-courses-carousel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <div class="thumb">
                                <img src="/Edocom/source/assets/img/800x600.jpg" alt="Thumb">
                                <div class="overlay">
                                    <a href="#">
                                        <img src="/Edocom/source/assets/img/100x100.jpg" alt="Thumb">
                                    </a>
                                    <ul>
                                        <li><i class="fas fa-clock"></i> 04:15:38</li>
                                        <li><i class="fas fa-list-ul"></i> 32</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <a href="#">Education</a>
                                            <a href="#">Tech</a>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                            <span>(1k)</span>
                                        </li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="#">data science and software</a>
                                </h4>
                                <p>
                                    Wisdom praise things she before. Be mother itself vanity favour do me of. Begin sex was power joy after had walls miles.
                                </p>
                                <div class="footer-meta">
                                    <a class="btn btn-theme effect btn-sm" href="#">Enroll Now</a>
                                    <h4>$23.00</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="thumb">
                                <img src="/Edocom/source/assets/img/800x600.jpg" alt="Thumb">
                                <div class="overlay">
                                    <a href="#">
                                        <img src="/Edocom/source/assets/img/100x100.jpg" alt="Thumb">
                                    </a>
                                    <ul>
                                        <li><i class="fas fa-clock"></i> 08:27:00</li>
                                        <li><i class="fas fa-list-ul"></i> 65</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <a href="#">Illustration</a>
                                            <a href="#">Design</a>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(2k)</span>
                                        </li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="#">Social Science & Humanities</a>
                                </h4>
                                <p>
                                    Wisdom praise things she before. Be mother itself vanity favour do me of. Begin sex was power joy after had walls miles.
                                </p>
                                <div class="footer-meta">
                                    <a class="btn btn-theme effect btn-sm" href="#">Enroll Now</a>
                                    <h4>$39.00</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="thumb">
                                <img src="/Edocom/source/assets/img/800x600.jpg" alt="Thumb">
                                <div class="overlay">
                                    <a href="#">
                                        <img src="/Edocom/source/assets/img/100x100.jpg" alt="Thumb">
                                    </a>
                                    <ul>
                                        <li><i class="fas fa-clock"></i> 04:15:38</li>
                                        <li><i class="fas fa-list-ul"></i> 32</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <a href="#">Science</a>
                                            <a href="#">Tech</a>
                                        </li>
                                        <li>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(4.6k)</span>
                                        </li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="#">Programming Masterclass</a>
                                </h4>
                                <p>
                                    Wisdom praise things she before. Be mother itself vanity favour do me of. Begin sex was power joy after had walls miles.
                                </p>
                                <div class="footer-meta">
                                    <a class="btn btn-theme effect btn-sm" href="#">Enroll Now</a>
                                    <h4>$54.00</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Item -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-author">
                    <h4>Top Author</h4>
                    <div class="author-items">
                        <!-- Single Item -->
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="/Edocom/source/assets/img/100x100.jpg" alt="Thumb">
                                </a>
                            </div>
                            <div class="info">
                                <h5>
                                    <a href="#">Professon. Nuri Paul</a>
                                </h5>
                                <ul>
                                    <li>Students enrolled <strong>12k+</strong></li>
                                    <li>
                                        <span>Rating</span>
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="/Edocom/source/assets/img/100x100.jpg" alt="Thumb">
                                </a>
                            </div>
                            <div class="info">
                                <h5>
                                    <a href="#">Dr. Bubly Minu</a>
                                </h5>
                                <ul>
                                    <li>Students enrolled <strong>16k+</strong></li>
                                    <li>
                                        <span>Rating</span>
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="/Edocom/source/assets/img/100x100.jpg" alt="Thumb">
                                </a>
                            </div>
                            <div class="info">
                                <h5>
                                    <a href="#">Monayem Pruda</a>
                                </h5>
                                <ul>
                                    <li>Students enrolled <strong>23k+</strong></li>
                                    <li>
                                        <span>Rating</span>
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <a href="#">View All <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
