
@{
    ViewData["Title"] = "StudentList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md">
    <div class="card shadow-none border bg-light">
        <div class="card-body">
            <div class="text-label mb-3">Students</div>
            <div id="cards-moves-right" class="card-list">


                <div class="card">
                    <div class="card-body media align-items-center">
                        <div class="media-left mr-3">
                            <div class="avatar">
                                <img src="~/admin-lema/HTML/dist/assets/images/256_joao-silas-636453-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="media-body">
                            <strong>Bryan K. Davis</strong><br>
                            <span class="text-muted">Web Developer</span>
                        </div>
                        <div class="media-right ml-3">
                            <span class="js-dragula-handle material-icons">drag_handle</span>
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-body media align-items-center">
                        <div class="media-left mr-3">
                            <div class="avatar">
                                <img src="~/admin-lema/HTML/dist/assets/images/256_luke-porter-261779-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="media-body">
                            <strong>Elizabeth J. Ohara</strong><br>
                            <span class="text-muted">Business Analyst</span>
                        </div>
                        <div class="media-right ml-3">
                            <span class="js-dragula-handle material-icons">drag_handle</span>
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-body media align-items-center">
                        <div class="media-left mr-3">
                            <div class="avatar">
                                <img src="~/admin-lema/HTML/dist/assets/images/256_michael-dam-258165-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="media-body">
                            <strong>Kaci M. Langston</strong><br>
                            <span class="text-muted">Human Resources</span>
                        </div>
                        <div class="media-right ml-3">
                            <span class="js-dragula-handle material-icons">drag_handle</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>