
@{
    ViewData["Title"] = "InstructorList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md">
    <div class="card shadow-none border bg-light">
        <div class="card-body">
            <div class="text-label mb-3">Instructor</div>
            <div id="cards-left" class="card-list">


                <div class="card">
                    <div class="card-body media">
                        <div class="media-left mr-3">
                            <div class="avatar">
                                <img src="~/admin-lema/HTML/dist/assets/images/256_rsz_1andy-lee-642320-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="media-body">
                            <p>
                                <strong>Jenell D. Matney</strong><br>
                                <span class="text-muted">Founder and CEO</span>
                            </p>
                            <p class="text-muted mb-0"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</em></p>
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-body media">
                        <div class="media-left mr-3">
                            <div class="avatar">
                                <img src="~/admin-lema/HTML/dist/assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="media-body">
                            <p>
                                <strong>Sherri J. Cardenas</strong><br>
                                <span class="text-muted">Software Engineer</span>
                            </p>
                            <p class="text-muted mb-0"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</em></p>
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-body media">
                        <div class="media-left mr-3">
                            <div class="avatar">
                                <img src="~/admin-lema/HTML/dist/assets/images/256_jeremy-banks-798787-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="media-body">
                            <p>
                                <strong>Joseph S. Ferland</strong><br>
                                <span class="text-muted">Web Designer</span>
                            </p>
                            <p class="text-muted mb-0"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</em></p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

